/* .dad-div {
    text-align: center;
    margin: 0 auto;
}
.listing {
    text-align: center;
    width: 80%;
    min-width: 300px;
    margin: 0 auto;
}



#add-item-icon {
    padding: 10px 0px 0px;
}
.itemrow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}

.leftrow {
    text-align: left;
}

.rightrow {
    text-align: right;
} */