
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*reset of browser settings*/


/* html, body {
  margin: 0;
  padding: 0;
} */

/* .App {
  padding: 20px;;
} */

/* nav.navbar { 
  display: flex;
  padding: 0px 20px;
  background: #686de0; 
} */

/* button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  margin: 15px 10px;
  border-radius: 3px;
} */

/* #home-btn {
  color: white;
  text-decoration: none;
} */


/* :root { 
  --c00: #FBF3EF;
  --c0: #F3D9CD;
  --c1: #e6b8a2;
  --c2: #d69f7e;
  --c3: #c38e70;
  --c4: #9d6b53;
  --c5: #774936;
  --c6: #382419;
} */

:root { 
  --c01:#ffffff;
  --c02:#f5f3f4;
  --c03:#d3d3d3;
  --c04:#b1a7a6;
  --c05:#e5383b;
  --c06:#ba181b;
  --c07:#a4161a;
  --c08:#660708;
  --c09:#161a1d;
  --c10:#0b090a;
}


body{ 
  background-color: var(--c1);
  color: var(--c10);
  padding: 50px 0px 120px;
  font-family: 'Montserrat', sans-serif;
  /* font: 16px 'Roboto', sans-serif, Helvetica, Arial, sans-serif; */
  font-size: 16px;
  font-weight: 400;
  width: 100vW;
  text-align: center ;  
}

a{
  text-decoration: none;
  color:black;
  
}

.btnsetting {
  background: none;
color: inherit;
border: none;
padding: 0;
font: inherit;
cursor: pointer;
outline: inherit;
}
.hr-big {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/* .hr-small {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.212), rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.158));
} */
.hr-small {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
  font-size: 25px;
  font-weight: 800;
}
h2 {
  color: var(--c07);
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  /* text-align: left; */
  padding: 0px 20px;
}

.list-edit {
  background-color: var(--c09);
  color: var(--c01);
  /* text-align: left; */
  font-size: 12px;
  /* border: 3px solid var(--c05); */
  margin: 20px 20px 60px;
  padding: 50px 80px;
}

.list-edit input{
  width: 100px;
  width: 100%;
}
/* .list-edit label{
  text-align: left;
} */

.homelogo {
  width: 30vw;
  min-width: 300px;
  padding: 30vh 0px 0px;
}



.dad-div {
  text-align: center;
  margin: 0 auto;
}
.listing {
  text-align: center;
  width: 80%;
  min-width: 300px;
  margin: 0 auto;
}



/* #add-item-icon {
  padding: 10px 0px 0px;
} */
.itemrow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

}

.item-editor a{
  color: var(--c06);
}
.leftrow {
  text-align: left;
}

.rightrow {
  text-align: right;
}